header {
  height: 6vh;
}
body {
  background: white;
}

.favicon {
  border-radius: 50%;
}

:root {
  font-family: "Roboto", "Inter", "Arial";
}

.circle-container {
  position: absolute;
  width: 35vw;
  aspect-ratio: 1/2;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: -100;
}

.circle {
  width: 70vw;
  aspect-ratio: 1/1;
  z-index: -100;
  border-radius: 50%;
}

.product-list {
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}

@media (min-width: 768px) {
  .circle {
    width: 36vw;
  }
  .circle-container {
    width: 18vw;
  }
  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }
}
.sombra-iphone {
  margin-top: -2rem;
  width: 40%;
  aspect-ratio: 3/1;
  z-index: -10;
  border-radius: 50%;
  background-color: #c3c3c3;
}

.placeholder-card {
  width: 100%;
  max-width: 48rem;
  aspect-ratio: 1/1;
  background: #ffffff;
}

.name-placeholder {
  height: 3rem;
  width: 100%;
  max-width: 20rem;
  margin-top: 1.5rem;
}

.price-placeholder {
  height: 1.5rem;
  width: 40%;
  max-width: 10rem;
  margin-top: 1rem;
}

.placeholder-skeleton {
  border-radius: 1rem;
  background-image: linear-gradient(
    90deg,
    #ccc 0px,
    rgb(229 229 229 / 90%) 40px,
    #ccc 80px
  );
  background-size: 300%;
  background-position: 100% 0;
  animation: shimmer 1.5s infinite;
}

.image-placeholder {
  width: 66%;
  aspect-ratio: 1/1;
}

@keyframes shimmer {
  to {
    background-position: -100% 0;
  }
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.loader::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #f0c 0%, #80f 100%);
}

.loader::after {
  width: 85%;
  height: 85%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
